**Imports**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Reading in Data**

In [ ]:
#note, the master data file is too big to upload to git, it is stored locally on Mary's computer and this section will not be runnable without downloading the original dataset

In [3]:
# reading in data
df = pd.read_csv('../data/US_Accidents_Dec20_updated.csv')

In [4]:
df.head(3)

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day

In [5]:
#descriptive statistics
df.describe().T.drop(columns = 'count')

,mean,std,min,25%,50%,75%,max
Severity,2.238630,0.608148,1.000000,2.000000,2.000000,2.000000,4.000000e+00
Start_Lat,36.900558,5.165653,24.570222,33.854225,37.351130,40.725927,4.900058e+01
Start_Lng,-98.599194,18.496022,-124.497567,-118.207575,-94.381003,-80.874690,-6.711317e+01
End_Lat,36.900606,5.165629,24.570110,33.854204,37.351342,40.725930,4.907500e+01
End_Lng,-98.599010,18.495903,-124.497829,-118.207746,-94.379875,-80.874490,-6.710924e+01
Distance(mi),0.587262,1.632659,0.000000,0.000000,0.178000,0.594000,1.551860e+02
Number,8907.533114,22421.896710,0.000000,1212.000000,4000.000000,10100.000000,9.999997e+06
Temperature(F),59.584597,18.273164,-89.000000,47.000000,61.000000,73.000000,1.706000e+02
Wind_Chill(F),55.109760,21.127345,-89.000000,40.800000,57.000000,71.000000,1.130000e+02
Humidity(%),64.659601,23.259865,1.000000,48.000000,68.000000,84.000000,1.000000e+02
Pressure(in),29.554954,1.016756,0.000000,29.440000,29.880000,30.040000,5.804000e+01
Visibility(mi),9.131755,2.889112,0.000000,10.000000,10.000000,10.000000,1.400000e+02
Wind_Speed(mph),7.630812,5.637364,0.000000,4.600000,7.000000,10.400000,9.840000e+02
Precipitation(in),0.008478,0.129317,0.000000,0.000000,0.000000,0.000000,2.400000e+01

In [6]:
#checking for null values
df.isna().sum().sort_values(ascending = False)[:20]

Number                   1046095
Precipitation(in)         510549
Wind_Chill(F)             449316
Wind_Speed(mph)           128862
Humidity(%)                45509
Visibility(mi)             44211
Weather_Condition          44007
Temperature(F)             43033
Wind_Direction             41858
Pressure(in)               36274
Weather_Timestamp          30264
Airport_Code                4248
Timezone                    2302
Zipcode                      935
Sunrise_Sunset                83
Civil_Twilight                83
Nautical_Twilight             83
Astronomical_Twilight         83
City                          83
Country                        0
dtype: int64

In [7]:
#for ease of reference
df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street',
       'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [8]:
#looking at a description
df['Description'][0]

'Between Sawmill Rd/Exit 20 and OH-315/Olentangy Riv Rd/Exit 22 - Accident.'

In [9]:
df.columns = map(str.lower, df.columns)

In [10]:
df.columns

Index(['id', 'severity', 'start_time', 'end_time', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'distance(mi)', 'description', 'number', 'street',
       'side', 'city', 'county', 'state', 'zipcode', 'country', 'timezone',
       'airport_code', 'weather_timestamp', 'temperature(f)', 'wind_chill(f)',
       'humidity(%)', 'pressure(in)', 'visibility(mi)', 'wind_direction',
       'wind_speed(mph)', 'precipitation(in)', 'weather_condition', 'amenity',
       'bump', 'crossing', 'give_way', 'junction', 'no_exit', 'railway',
       'roundabout', 'station', 'stop', 'traffic_calming', 'traffic_signal',
       'turning_loop', 'sunrise_sunset', 'civil_twilight', 'nautical_twilight',
       'astronomical_twilight'],
      dtype='object')

**Building Atlanta Dataset**

In [11]:
#https://www.latlong.net/place/atlanta-ga-usa-6566.html
#The latitude of Atlanta, GA, USA is 33.753746, and the longitude is -84.386330.
#Looking at a range of 32.753746 and 34.753746 for lat and -85.386330 and -83.386330

df_atl = df[(df['start_lat'].between(32.753746, 34.753746, inclusive = False)) & (df['start_lng'].between(-85.386330, -83.386330, inclusive = False))]
df_atl.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
32592,A-2749192,3,2016-11-30 17:35:55,2016-11-30 23:35:55,32.83752,-83.64864,32.840424,-83.646307,0.242,At US-41-BR/Forsyth St/Exit 164 - Accident.,...,False,False,False,False,False,False,Night,Day,Day,Day
32596,A-2749196,2,2016-11-30 17:39:56,2016-11-30 23:39:56,33.74153,-84.41434,33.746580,-84.430340,0.983,Between Ashby St/Exit 55 and Langhorn St/Exit ...,...,False,False,False,False,False,False,Night,Day,Day,Day
32618,A-2749218,2,2016-11-30 18:09:52,2016-12-01 00:09:52,33.91220,-84.38390,33.911380,-84.372580,0.652,At US-19/Roswell Rd/Exit 25 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day
32633,A-2749233,2,2016-11-30 18:44:53,2016-12-01 00:44:53,33.92736,-84.35774,33.986950,-84.339400,4.249,Between Abernathy Rd/Exit 5 and Northridge Rd/...,...,False,False,False,False,False,False,Night,Night,Night,Day
32642,A-2749242,2,2016-11-30 18:56:16,2016-12-01 00:56:16,33.74136,-84.41402,33.741190,-84.411730,0.132,At Lee St/Exit 55 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day

In [12]:
#commented out for length
#df_atl.info()

In [13]:
#savings to .csv
df_atl.to_csv('../data/atl_accidents.csv', index = False)

**Building Boston Dataset**

In [14]:
#https://www.latlong.net/place/boston-ma-usa-18552.html
#The latitude of Boston, MA, USA is 42.361145, and the longitude is -71.057083. 
#Looking at a range of 41.361145 and 43.361145 for lat and -72.057083 and -70.057083

#https://www.usgs.gov/faqs/how-much-distance-does-a-degree-minute-and-second-cover-your-maps?qt-news_science_products=0#qt-news_science_products
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column

df_bos = df[(df['start_lat'].between(41.361145, 43.361145, inclusive = False)) & (df['start_lng'].between(-72.057083, -70.057083, inclusive = False))]
df_bos.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
32550,A-2749150,2,2016-11-30 15:58:59,2016-11-30 21:58:59,41.879630,-71.377990,41.885180,-71.378500,0.384,At US-1/Broadway/Exit 29 - Accident.,...,False,False,False,False,False,False,Day,Day,Day,Day
32599,A-2749199,2,2016-11-30 17:51:24,2016-11-30 23:51:24,42.619594,-71.125395,42.610934,-71.123411,0.607,At Gould Rd - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
32601,A-2749201,2,2016-11-30 17:51:24,2016-11-30 23:51:24,42.610934,-71.123411,42.619594,-71.125395,0.607,At Rattlesnake Hill Rd - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
32626,A-2749226,2,2016-11-30 18:33:17,2016-12-01 00:33:17,41.797330,-71.403560,41.803290,-71.403790,0.412,At RI-1A/Thurbers Ave/Exit 18 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
32627,A-2749227,2,2016-11-30 18:33:17,2016-12-01 00:33:17,41.630260,-71.487240,41.625070,-71.487080,0.359,At RI-402/Exit 7 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night

In [15]:
#savings to .csv
df_bos.to_csv('../data/bos_accidents.csv', index = False)

**Building Chicago Dataset**

In [16]:
#https://www.latlong.net/place/chicago-il-usa-1855.html
#The latitude of Chicago, IL, USA is 41.881832, and the longitude is -87.623177.
#Looking at a range of 41.381832 and 42.381832 for lat and -87.123177 and -88.123177

#https://www.usgs.gov/faqs/how-much-distance-does-a-degree-minute-and-second-cover-your-maps?qt-news_science_products=0#qt-news_science_products
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column

df_chi = df[(df['start_lat'].between(40.881832, 42.881832, inclusive = False)) & (df['start_lng'].between(-88.623177, -86.623177, inclusive = False))]
df_chi.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
32541,A-2749141,2,2016-11-30 14:46:48,2016-11-30 20:46:48,42.305960,-87.960150,42.306916,-87.960918,0.077,Between IL-137/Buckley Rd/Peterson Rd and IL-1...,...,False,False,False,False,True,False,Day,Day,Day,Day
32552,A-2749152,2,2016-11-30 14:58:59,2016-11-30 20:58:59,42.175870,-88.135770,42.174620,-88.135794,0.086,At US-14/Northwest Hwy - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
32558,A-2749158,3,2016-11-30 15:14:24,2016-11-30 21:29:48,42.175897,-88.135769,42.174612,-88.135794,0.089,Between IL-22 and US-14/Northwest Hwy - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
32575,A-2749175,3,2016-11-30 16:13:53,2016-11-30 22:13:53,41.860591,-87.992749,41.860590,-87.992700,0.003,At CR-25/Meyers Rd/Westmore-Meyers Rd - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
32588,A-2749188,3,2016-11-30 16:33:05,2016-11-30 22:33:05,41.750330,-87.663440,41.750330,-87.663440,0.000,At Ashland Ave - Accident.,...,False,True,False,False,True,False,Night,Day,Day,Day

In [17]:
#savings to .csv
df_chi.to_csv('../data/chi_accidents.csv', index = False)

**Building Denver Dataset**

In [18]:
#https://www.latlong.net/place/denver-co-usa-3174.html
#The latitude of Chicago, IL, USA is 39.742043, and the longitude is -104.991531. 
#Looking at a range of 38.742043 and 40.742043 for lat and -105.991531 and -103.991531

#https://www.usgs.gov/faqs/how-much-distance-does-a-degree-minute-and-second-cover-your-maps?qt-news_science_products=0#qt-news_science_products
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column

df_dia = df[(df['start_lat'].between(40.881832, 42.881832, inclusive = False)) & (df['start_lng'].between(-88.623177, -86.623177, inclusive = False))]
df_dia.head()

,id,severity,start_time,end_time,start_lat,start_lng,end_lat,end_lng,distance(mi),description,...,roundabout,station,stop,traffic_calming,traffic_signal,turning_loop,sunrise_sunset,civil_twilight,nautical_twilight,astronomical_twilight
32541,A-2749141,2,2016-11-30 14:46:48,2016-11-30 20:46:48,42.305960,-87.960150,42.306916,-87.960918,0.077,Between IL-137/Buckley Rd/Peterson Rd and IL-1...,...,False,False,False,False,True,False,Day,Day,Day,Day
32552,A-2749152,2,2016-11-30 14:58:59,2016-11-30 20:58:59,42.175870,-88.135770,42.174620,-88.135794,0.086,At US-14/Northwest Hwy - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
32558,A-2749158,3,2016-11-30 15:14:24,2016-11-30 21:29:48,42.175897,-88.135769,42.174612,-88.135794,0.089,Between IL-22 and US-14/Northwest Hwy - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
32575,A-2749175,3,2016-11-30 16:13:53,2016-11-30 22:13:53,41.860591,-87.992749,41.860590,-87.992700,0.003,At CR-25/Meyers Rd/Westmore-Meyers Rd - Accident.,...,False,False,False,False,True,False,Day,Day,Day,Day
32588,A-2749188,3,2016-11-30 16:33:05,2016-11-30 22:33:05,41.750330,-87.663440,41.750330,-87.663440,0.000,At Ashland Ave - Accident.,...,False,True,False,False,True,False,Night,Day,Day,Day

In [19]:
#savings to .csv
df_dia.to_csv('../data/dia_accidents.csv', index = False)