**Imports**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
#reading in master datafile
#df = pd.read_csv('./self_work/US_Accidents_Dec20_updated.csv')

#commented out because file not uploaded to git (size issue)

In [9]:
df.head()

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-2716600,3,2016-02-08 00:37:08,2016-02-08 06:37:08,40.10891,-83.09286,40.11206,-83.03187,3.230,Between Sawmill Rd/Exit 20 and OH-315/Olentang...,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2716601,2,2016-02-08 05:56:20,2016-02-08 11:56:20,39.86542,-84.06280,39.86501,-84.04873,0.747,At OH-4/OH-235/Exit 41 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Night
2,A-2716602,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10266,-84.52468,39.10209,-84.52396,0.055,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
3,A-2716603,2,2016-02-08 06:15:39,2016-02-08 12:15:39,39.10148,-84.52341,39.09841,-84.52241,0.219,At I-71/US-50/Exit 1 - Accident.,...,False,False,False,False,False,False,Night,Night,Night,Day
4,A-2716604,2,2016-02-08 06:51:45,2016-02-08 12:51:45,41.06213,-81.53784,41.06217,-81.53547,0.123,At Dart Ave/Exit 21 - Accident.,...,False,False,False,False,False,False,Night,Night,Day,Day

In [15]:
df.describe().T.drop(columns = 'count')

,mean,std,min,25%,50%,75%,max
Severity,2.238630,0.608148,1.000000,2.000000,2.000000,2.000000,4.000000e+00
Start_Lat,36.900558,5.165653,24.570222,33.854225,37.351130,40.725927,4.900058e+01
Start_Lng,-98.599194,18.496022,-124.497567,-118.207575,-94.381003,-80.874690,-6.711317e+01
End_Lat,36.900606,5.165629,24.570110,33.854204,37.351342,40.725930,4.907500e+01
End_Lng,-98.599010,18.495903,-124.497829,-118.207746,-94.379875,-80.874490,-6.710924e+01
Distance(mi),0.587262,1.632659,0.000000,0.000000,0.178000,0.594000,1.551860e+02
Number,8907.533114,22421.896710,0.000000,1212.000000,4000.000000,10100.000000,9.999997e+06
Temperature(F),59.584597,18.273164,-89.000000,47.000000,61.000000,73.000000,1.706000e+02
Wind_Chill(F),55.109760,21.127345,-89.000000,40.800000,57.000000,71.000000,1.130000e+02
Humidity(%),64.659601,23.259865,1.000000,48.000000,68.000000,84.000000,1.000000e+02
Pressure(in),29.554954,1.016756,0.000000,29.440000,29.880000,30.040000,5.804000e+01
Visibility(mi),9.131755,2.889112,0.000000,10.000000,10.000000,10.000000,1.400000e+02
Wind_Speed(mph),7.630812,5.637364,0.000000,4.600000,7.000000,10.400000,9.840000e+02
Precipitation(in),0.008478,0.129317,0.000000,0.000000,0.000000,0.000000,2.400000e+01

In [10]:
#df.isna().sum().sort_values(ascending = False)[:20]

Number                   1046095
Precipitation(in)         510549
Wind_Chill(F)             449316
Wind_Speed(mph)           128862
Humidity(%)                45509
Visibility(mi)             44211
Weather_Condition          44007
Temperature(F)             43033
Wind_Direction             41858
Pressure(in)               36274
Weather_Timestamp          30264
Airport_Code                4248
Timezone                    2302
Zipcode                      935
Sunrise_Sunset                83
Civil_Twilight                83
Nautical_Twilight             83
Astronomical_Twilight         83
City                          83
Country                        0
Give_Way                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Turning_Loop                   0
Traffic_Signal                 0
Traffic_Calming                0
Stop                           0
Station                        0
Roundabout                     0
Railway                        0
No_Exit                        0
Junction                       0
Crossing                       0
State                          0
Bump                           0
Amenity                        0
Start_Lng                      0
End_Lat                        0
End_Lng                        0
Distance(mi)                   0
Description                    0
Street                         0
Severity                       0
Side                           0
County                         0
ID                             0
dtype: int64

In [ ]:
#for ease of reference
#df.columns

In [ ]:
#looking at a description
#df['Description'][0]

**Building Chicago Dataset**

In [ ]:
#https://www.latlong.net/place/chicago-il-usa-1855.html
#The latitude of Chicago, IL, USA is 41.881832, and the longitude is -87.623177.
#Looking at a range of 41.381832 and 42.381832 for lat and -87.123177 and -88.123177

#https://www.usgs.gov/faqs/how-much-distance-does-a-degree-minute-and-second-cover-your-maps?qt-news_science_products=0#qt-news_science_products
#https://stackoverflow.com/questions/38884466/how-to-select-a-range-of-values-in-a-pandas-dataframe-column

#df_chi = df[(df['Start_Lat'].between(40.881832, 42.881832, inclusive = False)) & (df['Start_Lng'].between(-88.623177, -86.623177, inclusive = False))]
#df_chi.head()

In [ ]:
#commented out for length
#df_chi.info()

In [ ]:
#savings to .csv
#df_chi.to_csv('./chicago_accidents.csv')

**Building Atlanta Dataset**

In [1]:
#https://www.latlong.net/place/atlanta-ga-usa-6566.html